# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# build
dist

# references
references

# docs (external)
docs

# Environment variables
.env

# Dev only
dev.sh
dev_public_key.pem
dev_private_key.pem
