.vertical-tabs {
	display: flex;
	flex-direction: column;
	position: relative;
	height: 100%;
}

.obsidian-vertical-tabs-container {
	font-size: var(--font-ui-small);
	padding: var(--size-4-3) var(--size-4-3) var(--size-4-8);
	overflow-x: hidden;
	overflow-y: auto;
}

.obsidian-vertical-tabs-container .tree-item-self {
	align-items: stretch;
}

.obsidian-vertical-tabs-container .is-tab {
	margin-left: 0.5em;
}

.obsidian-vertical-tabs-container > div {
	width: 100%;
}

.obsidian-vertical-tabs-container .tree-item.is-group {
	transition: all 0.2s ease-in-out;
}

.obsidian-vertical-tabs-container .tree-item .action-button {
	padding: var(--size-2-1);
}

.obsidian-vertical-tabs-container .tree-item.is-tab .action-button {
	visibility: hidden;
}

.obsidian-vertical-tabs-container .tree-item.is-tab:hover .action-button {
	visibility: visible;
}

.obsidian-vertical-tabs-container .tree-item.is-tab.is-pinned .action-pin {
	visibility: visible;
}

.obsidian-vertical-tabs-container .tree-item.is-tab.is-pinned .action-x {
	color: var(--text-faint);
	opacity: 0.5;
}

.obsidian-vertical-tabs-container
	.tree-item.is-group.is-collapsed
	.tree-item-children {
	display: none;
}

.obsidian-vertical-tabs-container .tree-item.is-group .tree-item-icon svg {
	stroke-width: 4px;
	width: 10px;
	height: 10px;
	transition: transform 100ms ease-in-out;
}

.obsidian-vertical-tabs-container
	.tree-item.is-group.is-collapsed
	.tree-item-icon
	svg {
	transform: rotate(calc(var(--direction) * -1 * 90deg));
}

body.vt-show-active-tabs
	.workspace-split.mod-root
	.workspace-tab-header:not(.is-active) {
	display: none;
}

body.vt-show-active-tabs
	.workspace-split.mod-root
	.workspace-tab-header.is-active {
	max-width: unset;
	width: unset;
}

body.vt-hide-sidebars
	.obsidian-vertical-tabs-container
	.tree-item.is-group.is-collapsed.is-sidebar {
	display: none;
}

body.vt-exclude-self
	.obsidian-vertical-tabs-container
	.tree-item.is-tab[data-type="vertical-tabs"] {
	display: none;
}
