.vertical-tabs {
	display: flex;
	flex-direction: column;
	position: relative;
	height: 100%;
}

.obsidian-vertical-tabs-container {
	font-size: var(--font-ui-small);
	padding: var(--size-4-3) var(--size-4-3) var(--size-4-8);
	overflow-x: hidden;
	overflow-y: auto;
}

.obsidian-vertical-tabs-container .tree-item-self {
	align-items: stretch;
}

.obsidian-vertical-tabs-container .is-tab {
	margin-left: 0.5em;
}

.obsidian-vertical-tabs-container > div {
	width: 100%;
}

.obsidian-vertical-tabs-container .tree-item.is-group {
	transition: all 0.2s ease-in-out;
}

.obsidian-vertical-tabs-container .tree-item .action-button {
	padding: var(--size-2-1);
}

.obsidian-vertical-tabs-container .tree-item.is-tab .action-button {
	visibility: hidden;
}

.obsidian-vertical-tabs-container .tree-item.is-tab:hover .action-button {
	visibility: visible;
}

.obsidian-vertical-tabs-container .tree-item.is-tab.is-pinned .action-pin {
	visibility: visible;
}

.obsidian-vertical-tabs-container .tree-item.is-tab.is-pinned .action-x {
	color: var(--text-faint);
	opacity: 0.5;
}

.obsidian-vertical-tabs-container
	.tree-item.is-group.is-collapsed
	.tree-item-children {
	display: none;
}

.obsidian-vertical-tabs-container .tree-item.is-group .tree-item-icon svg {
	stroke-width: 4px;
	width: 10px;
	height: 10px;
	transition: transform 100ms ease-in-out;
}

.obsidian-vertical-tabs-container .tree-item.is-tab .tree-item-icon svg {
	width: var(--icon-xs);
	height: var(--icon-xs);
}

.obsidian-vertical-tabs-container
	.tree-item.is-group.is-collapsed
	.tree-item-icon
	svg {
	transform: rotate(calc(var(--direction) * -1 * 90deg));
}

body.vt-show-active-tabs
	.workspace-split.mod-root
	.workspace-tab-header:not(.is-active) {
	display: none;
}

body.vt-show-active-tabs
	.workspace-split.mod-root
	.workspace-tab-header.is-active {
	max-width: unset;
	width: unset;
}

body.vt-hide-sidebars
	.obsidian-vertical-tabs-container
	.tree-item.is-group.is-sidebar {
	display: none;
}

body.vt-exclude-self
	.obsidian-vertical-tabs-container
	.tree-item.is-tab[data-type="vertical-tabs"] {
	display: none;
}

body:not(.vt-zen-mode) .workspace-split.mod-root .workspace-tabs.is-hidden {
	display: none;
}

body:not(.vt-zen-mode) .workspace-split.mod-root .workspace-split {
	display: none;
}

body:not(.vt-zen-mode)
	.workspace-split.mod-root
	.workspace-split:has(.workspace-tabs:not(.is-hidden)) {
	display: flex;
}

body.vt-zen-mode .workspace-split.mod-root .workspace-tabs:not(.mod-active),
body.vt-zen-mode .workspace-split.mod-root .workspace-tabs:not(.vt-mod-active) {
	display: none;
	flex-basis: unset;
}

body.vt-zen-mode .workspace-split.mod-root .workspace-tabs.mod-active,
body.vt-zen-mode .workspace-split.mod-root .workspace-tabs.vt-mod-active {
	display: flex;
	flex-basis: 100%;
}

body.vt-zen-mode
	.workspace-split.mod-root
	.workspace-split:has(.workspace-tabs.mod-active),
body.vt-zen-mode
	.workspace-split.mod-root
	.workspace-split:has(.workspace-tabs.vt-mod-active) {
	flex-basis: 100%;
}

body.vt-zen-mode
	.workspace-split.mod-root
	.workspace-tab-header:not(.is-active) {
	display: none;
}

body.vt-zen-mode .workspace-split.mod-root .workspace-tab-header.is-active {
	max-width: unset;
	width: unset;
}

body.vt-zen-mode {
	--tab-stacked-pane-width: 100%;
}

body.vt-zen-mode
	.obsidian-vertical-tabs-container
	.tree-item.is-group
	.clickable-icon.action-button.action-eye-off {
	visibility: hidden;
}

.obsidian-vertical-tabs-container .tab-slot {
	height: 30px;
	background-color: var(--background-modifier-border);
	border: 1px solid var(--background-modifier-border);
	border-radius: var(--border-radius);
}

.obsidian-vertical-tabs-container .tab-slot.is-hidden {
	display: none;
}

.obsidian-vertical-tabs-container .tree-item.is-group input {
	background: transparent;
	outline: none;
	border: none;
	color: inherit;
	font: inherit;
	padding: 0;
}

.workspace-tab-header[data-type="vertical-tabs"] {
	display: flex !important; // always show vertical tabs
}

body.vt-zen-mode .workspace-split.mod-root .workspace-tab-header-container {
	padding-left: 0;
	padding-right: 0;
}

body.vt-zen-mode
	.workspace-split.mod-root
	.workspace-tab-header-container
	.sidebar-toggle-button {
	visibility: hidden;
}

body.vt-zen-mode:has(
		.workspace-split.mod-sidedock.mod-left-split.is-sidedock-collapsed
	)
	.workspace-split.mod-root
	.workspace-tab-header-container {
	padding-left: calc(var(--size-4-3) + var(--frame-left-space) + 27px);
}

body.vt-zen-mode:has(
		.workspace-split.mod-sidedock.mod-left-split.is-sidedock-collapsed
	)
	.workspace-split.mod-root
	.workspace-tab-header-container:has(.sidebar-toggle-button.mod-left) {
	padding-left: calc(var(--size-4-3) + var(--frame-left-space));
}

body.vt-zen-mode:has(
		.workspace-split.mod-sidedock.mod-right-split.is-sidedock-collapsed
	)
	.workspace-split.mod-root
	.workspace-tab-header-container {
	padding-right: 38px;
}

body > .sidebar-toggle-buttons .sidebar-toggle-button {
	display: none;
}

body.vt-zen-mode:has(
		.workspace-split.mod-sidedock.mod-left-split.is-sidedock-collapsed
	)
	> .sidebar-toggle-buttons
	.sidebar-toggle-button.mod-left {
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	left: var(--left-sidebar-toggle-button-offset);
}

body.vt-zen-mode:has(
		.workspace-split.mod-sidedock.mod-right-split.is-sidedock-collapsed
	)
	> .sidebar-toggle-buttons
	.sidebar-toggle-button.mod-right {
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	right: 0;
}

.obsidian-vertical-tabs-container.is-dragging-group
	.tree-item.is-group.is-dragging-over,
.obsidian-vertical-tabs-container.is-dragging-group
	.tree-item.is-group:has(.is-dragging-over),
.obsidian-vertical-tabs-container:not(.is-dragging-group)
	.tree-item.is-tab.is-dragging-over {
	background-color: var(--background-modifier-border);
}

.obsidian-vertical-tabs-container .tree-item.is-dragging-self {
	opacity: 0.5;
}

.obsidian-vertical-tabs-container:not(.is-dragging-group) .is-tab-slot {
	display: none;
}

.obsidian-vertical-tabs-container:not(.is-dragging-group)
	.tree-item.is-group.is-dragging-over
	.is-tab-slot,
.obsidian-vertical-tabs-container:not(.is-dragging-group)
	.tree-item.is-group:has(.is-dragging-over)
	.is-tab-slot {
	display: block;
}

.obsidian-vertical-tabs-container .tree-item.is-tab-slot .action-button {
	visibility: visible;
}

.obsidian-vertical-tabs-container .tree-item.is-tab-slot .tree-item-inner {
	display: flex;
	width: 100%;
	justify-content: center;
}
