/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.obsidian-vertical-tabs-container {
	font-size: var(--font-ui-small);
	padding: var(--size-4-3) var(--size-4-3) var(--size-4-8);
	overflow: auto;
}

.obsidian-vertical-tabs-container .tree-item-self {
	align-items: stretch;
}

.obsidian-vertical-tabs-container .is-tab {
	margin-left: 0.5em;
}

.obsidian-vertical-tabs-container > div {
	width: 100%;
}

.obsidian-vertical-tabs-container .tree-item.is-tab .action-button {
	visibility: hidden;
}

.obsidian-vertical-tabs-container .tree-item.is-tab:hover .action-button {
	visibility: visible;
}

.obsidian-vertical-tabs-container .tree-item.is-tab.is-pinned .action-pin {
	visibility: visible;
}

.obsidian-vertical-tabs-container .tree-item.is-tab.is-pinned .action-x {
	display: none;
}

.obsidian-vertical-tabs-container .tree-item-children.is-hidden {
	display: none;
}

body.show-active-tabs
	.workspace-split.mod-root
	.workspace-tab-header:not(.is-active) {
	display: none;
}

body.show-active-tabs
	.workspace-split.mod-root
	.workspace-tab-header.is-active {
	max-width: unset;
	width: unset;
}
