body.vt-background-mode {
	.workspace-tab-header.obsidian-vertical-tabs-tab-header,
	.workspace-leaf.obsidian-vertical-tabs-tab-content {
		display: none !important;
	}

	.workspace-split.mod-sidedock {
		.workspace-tabs.is-hidden {
			display: none !important;
		}
	}

	.workspace-split.mod-root {
		.workspace-tabs.is-hidden {
			display: flex !important;
		}
	}
}
