.obsidian-vertical-tabs-container {
	.tree-item.is-group {
		border-radius: var(--nav-item-radius);
		margin-bottom: var(--size-4-1);

		// prettier-ignore
		&[data-color] {
			border: color-mix(in hsl, var(--vt-custom-color) 95%, transparent) var(--border-width, 1px) solid;
			background-color: color-mix(in hsl, var(--vt-custom-color) 5%, transparent);
			--background-modifier-active-hover: color-mix(in hsl, var(--vt-custom-color) 10%, transparent);

			.tree-item-self:not(.is-being-dragged) {
				color: color-mix(in hsl, var(--vt-custom-color) 95%, transparent);
				--icon-color: color-mix(in hsl, var(--vt-custom-color) 95%, transparent);
				svg { color: var(--icon-color) !important; }
			}

			&:hover {
				background-color: color-mix(in hsl, var(--vt-custom-color) 15%, transparent);

				.tree-item-self:not(.is-being-dragged) {
					color: color-mix(in hsl, var(--vt-custom-color) 100%, transparent);
					--icon-color: color-mix(in hsl, var(--vt-custom-color) 100%, transparent);
					svg { color: var(--icon-color) !important; }
				}
			}
		}

		&.is-hidden {
			filter: grayscale(100%);
		}
	}

	.tree-item.is-tab {
		// prettier-ignore
		&[data-color] .tree-item-self:not(.is-being-dragged) {
			border: color-mix(in hsl, var(--vt-custom-color) 95%, transparent) var(--border-width, 1px) solid;
			background-color: color-mix(in hsl, var(--vt-custom-color) 5%, transparent);
			--background-modifier-active-hover: color-mix(in hsl, var(--vt-custom-color) 10%, transparent);
			color: color-mix(in hsl, var(--vt-custom-color) 95%, transparent);
			--icon-color: color-mix(in hsl, var(--vt-custom-color) 95%, transparent);
			svg { color: var(--icon-color) !important; }

			&:hover {
				background-color: color-mix(in hsl, var(--vt-custom-color) 15%, transparent);
				color: color-mix(in hsl, var(--vt-custom-color) 100%, transparent);
				--icon-color: color-mix(in hsl, var(--vt-custom-color) 100%, transparent);
				svg { color: var(--icon-color) !important; }
			}
		}
	}
}

.mod-root .workspace-tab-header .workspace-tab-header-inner-icon[data-icon] {
	display: flex !important;
}

// prettier-ignore
.mod-root .workspace-tab-header[data-color] {
	// Only set the color of the title and icon, leave the rest to the theme.
	.workspace-tab-header-inner-title {
		color: color-mix(in hsl, var(--vt-custom-color) 95%, transparent) !important;
	}

	svg {
		color: color-mix(in hsl, var(--vt-custom-color) 95%, transparent) !important;
	}
}

// prettier-ignore
.mod-root .workspace-tabs[data-color] {
	background-color: color-mix(in hsl, var(--vt-custom-color) 10%, transparent) !important;

	.workspace-tab-header-container {
		background-color: transparent !important;
		--tab-outline-color: color-mix(in hsl, var(--vt-custom-color) 95%, transparent);
	}

	.workspace-tab-container {
		background-color: transparent !important;
	}

	&.vt-mission-control-view .workspace-leaf {
		border-color: color-mix(in hsl, var(--vt-custom-color) 95%, transparent) !important;

		&.mod-active {
			outline-color: color-mix(in hsl, var(--vt-custom-color) 95%, transparent) !important;
		}
	}

	&.mod-top, &.mod-top-right-space, &.vt-mod-top-right-space, &.mod-top-left-space, &.vt-mod-top-left-space {
		.sidebar-toggle-button {
			background-color: transparent !important;
		}
	}
}
