.obsidian-vertical-tabs-container {
	.tree-item {
		&::before {
			content: "\200B";
			height: 4px;
			width: 100%;
			display: block;
			margin-top: -4px;
			color: transparent;
			background: transparent;
			position: relative;
			z-index: 10;
			top: 1px;
		}
	}

	// group
	&.is-dragging-group {
		.tree-item.is-group {
			&.is-being-dragged-over,
			&:has(.is-being-dragged-over) {
				&::before {
					background: var(--interactive-accent);
				}
			}
		}
	}

	// tab
	&:not(.is-dragging-group) {
		.tree-item.is-tab.is-being-dragged-over::before {
			background: var(--interactive-accent);
		}

		.tree-item.is-group.is-being-dragged-over {
			&.is-group-slot {
				background: hsla(var(--interactive-accent-hsl), 0.2);

        &::before {
				  background: var(--interactive-accent);
        }
			}

			&:not(.is-group-slot) {
				.is-tab-slot::before {
					background: var(--interactive-accent);
				}
			}
		}
	}
}
