.obsidian-vertical-tabs-container {
	.tree-item {
		&::before {
			content: "\200B";
			height: 4px;
			width: 100%;
			display: block;
			margin-top: -4px;
			color: transparent;
			background: transparent;
			position: relative;
			z-index: 10;
			top: 1px;
		}
	}

	// group
	&.is-dragging-group {
		.tree-item.is-group {
			&.vt-is-being-dragged-over,
			&:has(.vt-is-being-dragged-over) {
				&::before {
					background: var(--interactive-accent);
				}
			}
		}
	}

	// tab
	&:not(.is-dragging-group) {
		.tree-item.is-tab.vt-is-being-dragged-over::before {
			background: var(--interactive-accent);
		}

		.tree-item.is-group.vt-is-being-dragged-over {
			.is-tab-slot::before {
				background: var(--interactive-accent);
			}
		}
	}
}
