body.vt-ephemeral-tabs {
	.workspace-tab-header {
		.workspace-tab-header-inner-title {
			font-style: italic;
		}

		&.vt-non-ephemeral {
			.workspace-tab-header-inner-title {
				font-style: normal;
			}
		}
	}

	.obsidian-vertical-tabs-container {
		.tree-item.is-tab.is-ephemeral-tab {
			.tree-item-inner-text {
				font-style: italic;
			}
		}
	}
}
