.obsidian-vertical-tabs-container {
	.tree-item.is-group {
		input {
			background: transparent;
			outline: none;
			border: none;
			color: inherit;
			font: inherit;
			padding: 0;
			width: 100%;
		}

		.is-hidden {
			opacity: 0.5;
		}
	}
}
