.obsidian-vertical-tabs-container {
	.is-group-slot {
		border-top: 1px solid var(--background-modifier-border);
		margin-top: 10px;

		.tree-item-self {
			color: hsla(var(--interactive-accent-hsl), 0.5);
		}

		.tree-item-icon {
			width: 16px !important;
			height: 16px !important;
		}
	}
}
