body {
	--vt-mission-control-view-leaf-zoom-factor: 0.5;

	&.vt-mission-control-view-disable-pointer {
		.workspace-tabs.vt-mission-control-view
			.workspace-leaf-content {
			pointer-events: none;
		}
	}

	.vt-pinned-indicator {
		display: none;
	}
}

.workspace-tabs.vt-mission-control-view {
	--vt-mission-control-view-leaf-gap: 20px;
	--vt-mission-control-view-leaf-height: 500px;
	--vt-mission-control-view-leaf-width: 300px;

	.workspace-leaf {
		display: block !important;
		height: var(--vt-mission-control-view-leaf-height);
		min-width: var(--vt-mission-control-view-leaf-width);
		max-width: 100% !important;
		zoom: var(--vt-mission-control-view-leaf-zoom-factor);
		border: 1px solid var(--background-modifier-border);
		border-radius: var(--radius-xl);
		box-shadow: var(--shadow-s);

		&.mod-active {
			outline: 5px solid var(--color-accent);
		}

		.view-header {
			display: none;
		}

		.vt-pinned-indicator.vt-pinned {
			display: block;
			position: absolute;
			right: 0;
			top: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			opacity: 0.5;
			--icon-size: calc(var(--vt-mission-control-view-leaf-width) * 0.2);
			--vt-pinned-indicator-size: calc(var(--icon-size) * 1.5);
			width: var(--vt-pinned-indicator-size);
			height: var(--vt-pinned-indicator-size);
			z-index: var(--layer-tooltip);
		}
	}

	.workspace-tab-container {
		display: grid;
		grid-template-columns: repeat(
			auto-fill,
			minmax(
				calc(
					var(--vt-mission-control-view-leaf-width) *
						var(--vt-mission-control-view-leaf-zoom-factor)
				),
				1fr
			)
		);
		gap: var(--vt-mission-control-view-leaf-gap);
		justify-content: center;
		align-content: flex-start;
		overflow-y: scroll !important;
		position: relative;
		height: fit-content;
		padding: var(--size-4-3) var(--vt-mission-control-view-leaf-gap);
	}

	.workspace-tab-header-container-inner {
		display: none;
	}
}
