body {
	--vt-mission-control-view-leaf-zoom-factor: 0.5;

	&.vt-mission-control-view-disable-pointer {
		.workspace-tabs.vt-mission-control-view
			.workspace-leaf
			.workspace-leaf-content {
			pointer-events: none;
		}
	}
}

.workspace-tabs.vt-mission-control-view {
	--vt-mission-control-view-leaf-gap: 20px;
	--vt-mission-control-view-leaf-height: 500px;
	--vt-mission-control-view-leaf-width: 300px;

	.workspace-leaf {
		display: block !important;
		height: var(--vt-mission-control-view-leaf-height);
		min-width: var(--vt-mission-control-view-leaf-width);
		max-width: 100% !important;
		zoom: var(--vt-mission-control-view-leaf-zoom-factor);

		&.mod-active {
			outline: 5px solid var(--color-accent);
		}
	}

	.workspace-tab-container {
		display: grid;
		grid-template-columns: repeat(
			auto-fill,
			minmax(
				calc(
					var(--vt-mission-control-view-leaf-width) *
						var(--vt-mission-control-view-leaf-zoom-factor)
				),
				1fr
			)
		);
		gap: var(--vt-mission-control-view-leaf-gap);
		justify-content: center;
		align-content: flex-start;
		overflow-y: scroll !important;
		position: relative;
		height: fit-content;
		padding: var(--size-4-3) var(--vt-mission-control-view-leaf-gap);
	}

	.workspace-tab-header-container-inner {
		display: none;
	}
}
