body.vt-scrollable-tabs:not(.vt-show-active-tabs),
body.vt-scrollable-tabs.is-popout-window {
	.workspace-split.mod-root {
		.workspace-tab-header-container-inner {
			margin-right: var(--size-4-2);
		}

		// Some themes (e.g., Cupertino) make scrollable tabs too wide and completely unusable
		// in narrow splits. We have to override the styles with "!important".
		.workspace-tab-header {
			min-width: var(--vt-scrollable-tabs-min-width, 100px) !important;
			container-type: normal !important;

			&.is-active {
				flex-shrink: 0 !important;
				flex-basis: auto !important;
				max-width: max(max-content, var(--tab-width)) !important;
			}
		}
	}
}
