.vt-navigation-description {
	font-size: var(--font-ui-smaller);
	color: var(--text-muted);
	padding-bottom: 0.75em;
}

.vt-update-indicator {
	--icon-size: 24px;
	color: var(--text-accent);

	&.mod-loading {
		svg {
			animation: rotate 1s linear infinite;

			@keyframes rotate {
				from {
					transform: rotate(0deg);
				}
				to {
					transform: rotate(360deg);
				}
			}
		}
	}

	&.mod-error {
		color: var(--text-error);
	}

	&.mod-success {
		color: var(--text-success);
	}
}
