.vt-warning-banner {
	font-size: var(--font-ui-small);
	color: var(--text-warning);
	font-weight: bold;
	padding-bottom: 0.4em;

	& + .setting-item {
		border-top: none !important;
	}

	a {
		font-size: var(--font-ui-small);
		color: var(--text-warning);
		font-weight: bold;
	}
}
