.vt-support {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: var(--size-4-4);
	font-size: var(--font-ui-medium);

	.title {
		margin: var(--size-4-4) 0;
	}

	.buttons {
		display: flex;
		flex-direction: row;
		gap: var(--size-4-5);

		a {
			display: flex !important;
			flex-wrap: wrap;
			height: 36px;
			min-width: 180px;
			gap: var(--size-4-2);
			padding: var(--size-4-1) var(--size-4-4);
			align-items: center;
			justify-content: center;
			border-radius: var(--radius-m);
			text-decoration: none;

			&#vt-support-btn-kofi {
				color: #202020;
				background-color: #ffda6e;
			}

			&#vt-support-btn-github {
				color: #202020;
				background-color: #e3d5c6;
			}
		}
	}

	.bug-report {
		font-size: var(--font-ui-small);
		margin-top: var(--size-4-2);
	}
}
