.vt-support {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: var(--size-4-4);
	font-size: var(--font-ui-medium);

	.title {
		margin: var(--size-4-4) 0;
	}

	.buttons {
		display: flex;
		flex-direction: row;
		column-gap: var(--size-4-5);
		row-gap: var(--size-4-2);
		flex-wrap: wrap;
		justify-content: center;

		a {
			display: flex !important;
			flex-wrap: wrap;
			height: 36px;
			min-width: 180px;
			gap: var(--size-4-2);
			padding: var(--size-4-1) var(--size-4-4);
			align-items: center;
			justify-content: center;
			border-radius: var(--radius-m);
			text-decoration: none;

			&#vt-support-btn-kofi {
				color: #202020;
				background-color: #ffda6e;
			}

			&#vt-support-btn-github {
				color: #202020;
				background-color: #e3d5c6;
			}

			img {
				margin: 0 !important;
			}
		}
	}

	.bug-report {
		font-size: var(--font-ui-small);
		margin-top: var(--size-4-2);
	}

	.debugging-helper {
		display: flex;
		flex-direction: row;
		column-gap: var(--size-4-2);
		row-gap: var(--size-4-2);
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		font-size: var(--font-ui-small);
		margin-top: var(--size-4-10);

		button {
			display: flex;
			gap: var(--size-4-1) !important;
			border-radius: var(--radius-m) !important;
			border: none !important;
			padding: var(--size-4-1) var(--size-4-2) !important;
			font-size: var(--font-ui-smallest) !important;
			border: none !important;
			outline: none !important;
			box-shadow: none !important;
			cursor: pointer;
			font-family: monospace !important;

			color: var(--text-muted);
			background-color: var(--background-secondary);
			&:hover {
				background-color: var(--background-modifier-hover);
			}

			&.mod-destructive {
				color: var(--text-error);
				background-color: rgba(
					var(--background-modifier-error-rgb),
					0.2
				);
			}

			&.mod-destructive:hover {
				background-color: rgba(
					var(--background-modifier-error-rgb),
					0.1
				);
			}

			svg {
				vertical-align: middle;
			}
		}
	}
}
