.obsidian-vertical-tabs-container {
	.tree-item.is-tab {
		// prettier-ignore
		&[data-color] .tree-item-self {
			border: color-mix(in hsl, var(--vt-custom-color) 95%, transparent) var(--border-width, 1px) solid;
			background-color: color-mix(in hsl, var(--vt-custom-color) 5%, transparent);
			--background-modifier-active-hover: color-mix(in hsl, var(--vt-custom-color) 10%, transparent);
			color: color-mix(in hsl, var(--vt-custom-color) 95%, transparent);
			--icon-color: color-mix(in hsl, var(--vt-custom-color) 95%, transparent);
			svg { color: var(--icon-color) !important; }

			&:hover {
				background-color: color-mix(in hsl, var(--vt-custom-color) 15%, transparent);
				color: color-mix(in hsl, var(--vt-custom-color) 100%, transparent);
				--icon-color: color-mix(in hsl, var(--vt-custom-color) 100%, transparent);
				svg { color: var(--icon-color) !important; }
			}
		}

		&.is-highlighted .tree-item-self {
			background-color: var(--background-modifier-active-hover);
			font-weight: bold;
		}

		&.is-selected .tree-item-self {
			color: var(--nav-item-color-selected);
			background-color: var(--nav-item-background-selected);
		}

		&.is-being-dragged.is-selected::after {
			content: attr(data-selected-count);
			position: absolute;
			top: -8px;
			right: -8px;
			background: var(--interactive-accent);
			color: var(--text-on-accent);
			border-radius: 50%;
			width: 20px;
			height: 20px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 12px;
			font-weight: bold;
			z-index: 100;
		}

		.action-button {
			visibility: hidden;
		}

		&:hover .action-button {
			visibility: visible;
		}

		&.is-pinned {
			.action-pin {
				visibility: visible;
			}

			.action-x {
				color: var(--text-faint);
				opacity: 0.5;
			}
		}
	}
}

body {
	&.is-mobile {
		.obsidian-vertical-tabs-container
			.tree-item.is-tab
			.action-button[data-action="close"] {
			visibility: visible !important;
		}
	}

	&.is-mobile.vt-use-tab-editing {
		.vertical-tabs {
			.obsidian-vertical-tabs-container
				.tree-item.is-tab
				.action-button[data-action="close"] {
				visibility: hidden !important;
			}

			&.editing-tabs {
				.obsidian-vertical-tabs-container
					.tree-item.is-tab
					.action-button[data-action="close"] {
					visibility: visible !important;
				}
			}
		}
	}
}
