.obsidian-vertical-tabs-container {
	.tree-item.is-tab {
		&.is-highlighted .tree-item-self {
			background-color: var(--background-modifier-active-hover);
			font-weight: bold;
		}

		&.is-selected .tree-item-self {
			background-color: var(--background-modifier-selected);
			border: 1px solid var(--background-modifier-border-focus);
			border-radius: var(--radius-s);
		}

		&.is-selected.is-highlighted .tree-item-self {
			background-color: var(--background-modifier-active);
		}

		&.is-being-dragged.is-selected::after {
			content: attr(data-selected-count);
			position: absolute;
			top: -8px;
			right: -8px;
			background: var(--interactive-accent);
			color: var(--text-on-accent);
			border-radius: 50%;
			width: 20px;
			height: 20px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 12px;
			font-weight: bold;
			z-index: 100;
		}

		.action-button {
			visibility: hidden;
		}

		&:hover .action-button {
			visibility: visible;
		}

		&.is-pinned {
			.action-pin {
				visibility: visible;
			}

			.action-x {
				color: var(--text-faint);
				opacity: 0.5;
			}
		}
	}
}

body {
	&.is-mobile {
		.obsidian-vertical-tabs-container
			.tree-item.is-tab
			.action-button[data-action="close"] {
			visibility: visible !important;
		}
	}

	&.is-mobile.vt-use-tab-editing {
		.vertical-tabs {
			.obsidian-vertical-tabs-container
				.tree-item.is-tab
				.action-button[data-action="close"] {
				visibility: hidden !important;
			}

			&.editing-tabs {
				.obsidian-vertical-tabs-container
					.tree-item.is-tab
					.action-button[data-action="close"] {
					visibility: visible !important;
				}
			}
		}
	}
}
