.vertical-tabs.tab-index-view-cue {
	.obsidian-vertical-tabs-container {
		.tree-item.is-group.is-active-group {
			.tree-item.is-tab:not(.is-tab-slot) {
				.tree-item-self {
					&[data-index]::before {
						content: attr(data-index);
						position: absolute;
						width: var(--size-4-4);
						height: var(--size-4-4);
						line-height: var(--size-4-4);
						background: var(--background-primary);
						border-radius: var(--radius-s);
						border: var(--border-width) solid;
						text-align: center;
						left: var(--size-2-1);
						z-index: var(--layer-tooltip);
					}

					&[data-index="→"]::before,
					&[data-index="←"]::before {
						background: var(--background-secondary);
					}
				}
			}
		}
	}
}

body.vt-tab-index-view-cue {
	.workspace-tabs.mod-active .workspace-tab-header-inner-title {
		&[data-index]::before {
			content: attr(data-index);
			display: inline-block;
			width: var(--size-4-4);
			height: var(--size-4-4);
			line-height: var(--size-4-4);
			background: var(--background-primary);
			border-radius: var(--radius-s);
			border: var(--border-width) solid;
			text-align: center;
			left: var(--size-2-1);
			z-index: var(--layer-tooltip);
			margin-right: var(--size-4-1);
		}

		&[data-index="→"]::before,
		&[data-index="←"]::before {
			background: var(--background-secondary);
		}
	}

	.workspace-tabs.mod-active.vt-mission-control-view {
		.workspace-leaf {
			&[data-index]::before {
				position: absolute;
				content: attr(data-index);
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				background: var(--background-primary);
				opacity: 0.5;
				font-size: calc(
					var(--vt-mission-control-view-leaf-width) * 0.5
				);
				z-index: var(--layer-tooltip);
			}

			&[data-index="→"]::before,
			&[data-index="←"]::before {
				background: var(--background-secondary);
				opacity: 0.7;
			}
		}
	}
}
