body {
	&:not(.is-mobile) {
		.obsidian-vertical-tabs-container
			.tree-item.is-tab-slot
			.tree-item-self {
			cursor: pointer;

			&:not(:hover) {
				height: 6px;
				padding: 0;

				div {
					display: none;
				}
			}

			&:hover {
				height: unset;

				div {
					display: initial;
				}
			}
		}
	}

	&.is-mobile {
		.obsidian-vertical-tabs-container .tree-item.is-tab-slot {
			.drag-handle {
				display: none !important;
			}

			.tree-item-self {
				height: unset;

				div {
					display: initial;
				}
			}
		}
	}

	&.is-mobile.vt-use-tab-editing {
		.vertical-tabs {
			&:not(.editing-tabs) {
				.obsidian-vertical-tabs-container
					.tree-item.is-tab-slot
					.tree-item-self {
					height: 6px;
					padding: 0;

					div {
						display: none;
					}
				}
			}

			&.editing-tabs {
				.obsidian-vertical-tabs-container
					.tree-item.is-tab-slot
					.tree-item-self {
					height: unset;

					div {
						display: initial;
					}
				}
			}
		}
	}
}
