body.vt-enable-tab-zoom .workspace-leaf.vt-apply-tab-zoom {
	--vt-tab-zoom-factor: 1;
	--vt-scaled-file-line-width: calc(
		var(--file-line-width) / var(--vt-tab-zoom-factor)
	);

	.markdown-source-view,
	.markdown-preview-view,
	.release-notes-view,
	.document-replace,
	.browser-content {
		zoom: var(--vt-tab-zoom-factor);

		& {
			.markdown-source-view,
			.markdown-preview-view,
			.release-notes-view,
			.document-replace,
			.browser-content {
				zoom: 1;
			}
		}
	}

	.cm-gap {
		display: none;
	}

	.embedded-backlinks,
	.markdown-preview-sizer {
		min-height: unset !important;
	}

	.markdown-source-view.mod-cm6.is-readable-line-width {
		.cm-sizer,
		.cm-content,
		.cm-line {
			max-width: var(--vt-scaled-file-line-width);
		}
	}

	.markdown-preview-view.is-readable-line-width {
		.markdown-preview-sizer {
			max-width: var(--vt-scaled-file-line-width);
		}
	}

	.release-notes-view .is-readable-line-width {
		max-width: var(--vt-scaled-file-line-width);
	}

	.document-replace {
		max-width: var(--vt-scaled-file-line-width);
	}

	.browser-content
		.reader-mode-content.is-readable-line-width
		.markdown-preview-sizer {
		max-width: var(--vt-scaled-file-line-width);
	}

	.browser-content .error-notice {
		max-width: var(--vt-scaled-file-line-width);
	}
}

