.is-hidden-frameless:not(.is-fullscreen) {
	.workspace-tabs {
		&.vt-mod-top-left-space .workspace-tab-header-container {
			padding-left: calc(var(--size-4-2) + var(--frame-left-space));
		}

		&.vt-mod-top-right-space .workspace-tab-header-container {
			padding-right: calc(var(--size-4-2) + var(--frame-right-space));
		}
	}

	&:not(.mod-macos) {
		.workspace-tabs {
			&.vt-mod-top-left-space .workspace-tab-header-container:before {
				-webkit-app-region: no-drag;
				content: "";
				height: 100%;
				left: 0;
				top: 0;
				position: absolute;
				width: var(--frame-left-space);
			}

			&.vt-mod-top-right-space .workspace-tab-header-container:after {
				-webkit-app-region: no-drag;
				content: "";
				height: 100%;
				right: 0;
				top: 0;
				position: absolute;
				width: var(--frame-right-space);
			}
		}
	}
}

.mod-macos.is-hidden-frameless:not(.is-popout-window)
	.workspace
	.workspace-tabs.vt-mod-top-right-space
	.workspace-tab-header-container {
	padding-right: 38px;
}

// hide VT toggle buttons by default
.sidebar-toggle-button.vt-mod-toggle {
	display: none;
	background-color: red !important;
}

body:has(.workspace-tabs.is-hidden),
body.vt-zen-mode {
	// show VT toggle buttons when sidebar is collapsed
	&:has(.workspace-split.mod-sidedock.mod-left-split.is-sidedock-collapsed)
		.vt-mod-top-left-space
		.sidebar-toggle-button.mod-left.vt-mod-toggle,
	&:has(.workspace-split.mod-sidedock.mod-right-split.is-sidedock-collapsed)
		.vt-mod-top-right-space
		.sidebar-toggle-button.mod-right.vt-mod-toggle {
		display: flex;
	}

	// hide native toggle buttons when VT toggle buttons are shown
	&:has(.workspace-split.mod-sidedock.mod-left-split.is-sidedock-collapsed)
		.sidebar-toggle-button.mod-left:not(.vt-mod-toggle),
	&:has(.workspace-split.mod-sidedock.mod-right-split.is-sidedock-collapsed)
		.sidebar-toggle-button.mod-right:not(.vt-mod-toggle) {
		display: none;
	}
}
