@use "styles/ShowActiveTabs.scss";
@use "styles/ZenMode.scss";
@use "styles/TreeItem.scss";
@use "styles/Tab.scss";
@use "styles/TabSlot.scss";
@use "styles/TabHandle.scss";
@use "styles/TabIndexViewCue.scss";
@use "styles/Group.scss";
@use "styles/GroupSlot.scss";
@use "styles/ToggleSidebar.scss";
@use "styles/DropIndicator.scss";
@use "styles/SingleGroup.scss";
@use "styles/TabZoom.scss";
@use "styles/EphemeralTabs.scss";
@use "styles/TrimTabNames.scss";
@use "styles/ShowMoreButtons.scss";
@use "styles/SettingTab.scss";
@use "styles/BackgroundMode.scss";
@use "styles/ContinuousView.scss";
@use "styles/ColumnView.scss";
@use "styles/MissionControlView.scss";
@use "styles/LinkedGroup.scss";
@use "styles/HistoryBrowserModal.scss";
@use "styles/MobileDrawers.scss";
@use "styles/Support.scss";
@use "styles/FramelessWindowTitle.scss";
@use "styles/ScrollableTabs.scss";
@use "styles/AutoHideHorizontalTabs.scss";

.vertical-tabs {
	display: flex;
	flex-direction: column;
	position: relative;
	height: 100%;
}

.obsidian-vertical-tabs-container {
	font-size: var(--font-ui-small);
	padding: var(--size-4-3) var(--size-4-3) var(--size-4-8);
	overflow-x: hidden;
	overflow-y: auto;
}

.obsidian-vertical-tabs-container .is-tab {
	margin-left: 0.5em;
}

.obsidian-vertical-tabs-container > div {
	width: 100%;
}

.obsidian-vertical-tabs-container
	.tree-item.is-group.is-collapsed
	.tree-item-children {
	display: none;
}

.obsidian-vertical-tabs-container .tree-item-icon svg.svg-icon.right-triangle {
	stroke-width: 2px;
	width: 10px;
	height: 10px;
	transition: transform 100ms ease-in-out;
}

.obsidian-vertical-tabs-container .tree-item.is-tab .tree-item-icon svg {
	width: var(--icon-xs);
	height: var(--icon-xs);
}

.obsidian-vertical-tabs-container
	.tree-item.is-group.is-collapsed
	.tree-item-icon
	svg {
	transform: rotate(calc(var(--direction) * -1 * 90deg));
}

body.vt-hide-sidebars
	.obsidian-vertical-tabs-container
	.tree-item.is-group.is-sidebar {
	display: none;
}

body.vt-exclude-self
	.obsidian-vertical-tabs-container
	.tree-item.is-tab[data-type="vertical-tabs"] {
	display: none;
}

.workspace-tab-header[data-type="vertical-tabs"] {
	display: flex !important; // always show vertical tabs
}

.obsidian-vertical-tabs-container
	.tree-item
	.clickable-icon[data-action="drag-handle"] {
	visibility: visible !important;
	color: var(--text-faint);
}

.obsidian-vertical-tabs-container
	.tree-item:not(.is-slot)
	.clickable-icon[data-action="drag-handle"]
	svg {
	height: var(--icon-xs);
	width: var(--icon-xs);
}

.obsidian-vertical-tabs-container
	.tree-item.is-slot
	.clickable-icon[data-action="drag-handle"] {
	display: none;
}

.obsidian-vertical-tabs-container .tree-item .drag-handle {
	touch-action: none;
}

.clickable-icon.is-disabled {
	color: var(--text-faint);
	cursor: not-allowed;
	opacity: var(--icon-opacity);
}
